html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}
main {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url("bg.png");
  background-color: #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}
.feather-16 {
  width: 16px;
  height: 16px;
}

.feather-24 {
  width: 24px;
  height: 24px;
}

.feather-32 {
  width: 50px;
  height: 50px;
}

.burger,
.menu,
.background {
  position: fixed;
}
.burger {
  z-index: 4;
  top: 44px;
  left: 44px;
  display: grid;
  place-items: center;
  color: #fff;
  cursor: pointer;
}
.icon2 {
  display: none;
}
body.open .icon2 {
  display: block;
  transition: 0.8s ease-in;
}
body.open .icon1 {
  display: none;
  transition: 0.8s ease-in;
}
.burger :hover {
  color: aqua;
}
body.open .menu {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}
.background {
  position: fixed;
  z-index: 2;
  top: 44px;
  left: 44px;
  aspect-ratio: 1/1;
  translate: -50% -50%;
  height: 88px;
  /* background: #07030a; */
  border-radius: 50%;
  opacity: 1;
  transition: 0.6s;
}
body.open .background {
  height: 300px;
  opacity: 0.8;
}
body.open .menu {
  opacity: 1;
  /* visibility: visible; */
}
.menu {
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  transition: 0.05s;
}
.menu nav a:hover {
  color: aqua;
}
body.menu nav:hover {
  opacity: 0.25;
  color: aqua;
}

body.menu nav > a:hover {
  opacity: 1;
  translate: 8px 0;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 32px;
  padding: 20px 0 20px 20px;
  text-decoration: none;
  opacity: 0;
  transition: 0.4s;
}
@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }
  100% {
    opacity: 1;
  }
}
body.open .menu a {
  opacity: 1;
  animation: appear 0.35s backwards;
}

/* main */
main {
  display: grid;
  place-items: center;
  height: 100%;
  color: #fff;
}
.content {
  width: 60%;
  display: flex;
  flex-direction: row;
  background-color: rgba(1, 1, 1, 0.6);
  padding: 1.2rem;
  gap: 1rem;
  color: #fff;
}
.content h1 {
  width: 100%;
  flex-wrap: wrap;
}
.left_main {
  padding: 10 10%;
  width: 60%;
}
.right_main {
  width: 40%;
  padding: 10 10%;
}
.right_main img {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.right_main .images {
  display: grid;
  place-items: center;
  width: 100%;
}

.left_main h2 {
  font-weight: 800;
}
.left_main p {
  font-size: 1rem;
  font-weight: 600;
}
.left_main h2 span {
  color: aqua;
}
/* project */
#project {
  height: 100%;
}
.project {
  width: 40%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project h2 {
  color: aqua;
  font-size: 1.2rem;
  text-align: center;
}
.timeline {
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid aqua;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: aqua;
  position: relative;
}
.title a {
  text-decoration: none;
  color: aqua;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid aqua;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}
.timeline img {
  width: 100%;
  object-fit: cover;
}
/*  */
/* about */
#about {
  margin-top: 1000px;
}
.about {
  width: 100%;
  height: 100%;
  margin-top: 110px;
  display: grid;
  place-items: center;
}
.about_details {
  display: flex;
  width: 60%;
  gap: 1.3rem;
  border: 1px solid aqua;
  border-radius: 10px;
}
.about_left {
  background-color: aqua;
  border-radius: 10px;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #111;
}
.about_left .images_self {
  text-align: center;
  width: 100%;
  margin-top: -50px;
}
.about_left p,
.about_right p,
.about_right h2 {
  padding: 10px 7%;
}
.about_right h2 {
  color: aqua;
}
.about_left img {
  width: 40%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #000000;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
.about_right {
  width: 60%;
  height: 300px;
}
.social {
  display: flex;
  justify-content: center;
}
.social a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  color: aqua;
}
#project {
  margin-top: 100px;
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
  }
  .left_main,
  .right_main {
    width: 100%;
  }
  .about_details {
    flex-direction: column;
  }
  .project {
    width: 100%;
  }
  .menu {
    height: 100%;
    width: 100%;
  }
  .about_details {
    border: none;
  }
  .about_left,
  .about_right {
    width: 100%;
  }
  .menu a::after {
    content: "";
    position: absolute;
    top: 50px;
    right: -25px;
    translate: 0 -50%;
    width: 10px;
    height: 10px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    opacity: 0;
    rotate: 45deg;
    transition: 0.3s;
  }

  .menu a:hover::after {
    opacity: 1;
    color: aqua;
  }
}
@media screen and (min-width: 1000px) {
  .burger {
    display: none;
  }
  .background {
    z-index: 0;
  }
  .menu {
    display: block;
    visibility: visible;
    z-index: 999;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    transition: 0.05s;
  }
  .menu nav a:hover {
    color: aqua;
  }
  body.menu nav:hover {
    opacity: 0.25;
    color: aqua;
  }

  body.menu nav > a:hover {
    opacity: 1;
    translate: 8px 0;
  }

  .menu nav {
    background-color: #111;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 1.2rem;
    padding: 20px 0 20px 40px;
    text-decoration: none;
    opacity: 1;
    transition: 0.4s;
  }
}
